.vanil-nav {
  position: absolute;
  /* top: 0; */
  width: 100%;
  font-size: 1.2em;
  z-index: 2;
  background: transparent;
  margin-top: 30px;
  font-family: serif;
}

.title-name {
  margin-left: 10px;
  color: white;
  transition: opacity 0.5s ease-in;
}

.title-name:hover {
  opacity: 0.6;
  color: white;
}

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  background: transparent;
  padding: 10px 0;
  width: 100%;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0px 10px;
  align-items: center;
}

link:hover {
  text-decoration: none;
}

.login-container {
  display: flex;
}

#word-primavera {
  color: #fcb300;
}

.login-links {
  list-style: none;
  display: flex;
  margin: 0;
  align-items: center;
}

.login-links .linklink {
  padding: 8px;
  width: 40px;
}

.linklink:hover {
  /* animation: upAndDown 2s infinite 0s ease-out; */
  /* background-color: #fcb500be; */
  /* background-image: linear-gradient(
    171.8deg,
    rgba(5, 111, 146, 1) 13.5%,
    rgb(6, 56, 83) 78.6%
  ); */
  background-position: left bottom;
}

.linklink {
  padding: 10px 30px;
  color: white;

  transition: background 0.5s ease-in;
  background: linear-gradient(
    to right,
    rgb(6, 57, 84, 0.5) 50%,
    transparent 50%
  );
  background-size: 210% 100%;
  background-position: right bottom;
}

.linklinks {
  width: 90px;
  text-align: right;
}
@keyframes upAndDown {
  0%,
  100% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
  }
}

.signup {
  text-align: left;
}

.login-link {
  color: white;
  text-decoration: none;
}

#line-divide {
  color: white;
  pointer-events: none;
  padding: 4px;
}

.login-link:hover {
  text-decoration: none;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: white;
}

.dropbtn:hover {
  text-decoration: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(6, 57, 84, 0.924);
  min-width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: display 0.8s ease-out;
  animation: FadeIn 1s forwards;
  left: 0;
  top: 48px;
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin: 20px;
}

.dropdown-content a:hover {
  color: black;
  text-decoration: none;
  opacity: 0.5;
}
/* .box-shadow:after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 4px;
  z-index: -1;
  transform: scale(2.2);
  box-shadow: 0px 0px 5px 3px #000000;
} */

.burger {
  position: absolute;
  top: 16px;
  right: 50px;
  z-index: 102;
  display: none;
}

.burger:hover {
  cursor: pointer;
}

.burger-part {
  width: 36px;
  height: 4px;
  margin-top: 8px;
  border-radius: 15px;
  background: black;
  transition: 0.3s ease;
}

.burger-opened {
  transform: 0.4s ease;
  z-index: 101;
  position: fixed;
}

.burger-opened .burger-part {
  background: white;
}

.burger-part:first-of-type {
  margin-top: 0;
}

.burger-opened .burger-part:first-of-type {
  transform: translateY(12px) rotate(45deg);
}

.burger-opened .burger-part:nth-child(2) {
  display: none;
}

.burger-opened .burger-part:nth-child(3) {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 1025px) {
  .title-name {
    font-size: 35px;
  }

  .nav-section {
    width: auto;
  }

  .login {
    display: block;
    position: absolute;
    right: 60px;
  }
  .signup {
    display: none;
  }
  #line-divide {
    display: none;
  }

  .vanil-nav {
    margin-top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .login-container {
    display: none;
  }
  .title-name {
    margin: auto;
  }

  .nav-links {
    display: none;
  }

  .nav-wrapper {
    width: 100%;
    justify-content: space-between;
  }

  .nav-section {
    width: 100%;
    padding: 0px 30px;
    transition: ease-in 1s;
  }

  .burger-toggle {
    display: absolute;
  }

  .burger {
    display: block;
  }

  .vanil-nav {
    position: sticky;
    /* background-image: linear-gradient(
      171.8deg,
      rgba(5, 111, 146, 1) 13.5%,
      rgba(6, 57, 84, 1) 78.6%
    ); */
      background-color: rgba(6, 57, 84, 1);

  }
  .box-shadow:after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 4px;
    z-index: -1;
    transform: scale(2);
    box-shadow: 0px 1px 10px 2px #000000;
  }
}

@media only screen and (max-width: 400px) {
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
  }
  .title-name {
    font-size: 33px;
    margin: auto;
  }
}
