.vanil-nav {
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 16px;
  z-index: 2;
  background: transparent;
  margin-top: 30px;
}

.title-name {
  margin-left: 10px;
  color: white;
  transition: opacity 0.5s ease-in;
}

.title-name:hover {
  opacity: 0.6;
  color: white;
}

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  background-color: #2d271f;
  background: transparent;
  padding: 10px 0;
  width: 100%;
}

.nav-section {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0px 10px;
  align-items: center;
}

link:hover {
  text-decoration: none;
}

.login-container {
  display: flex;
}

#word-primavera {
  color: #fcb300;
}

.login-links {
  list-style: none;
  display: flex;
  margin: 0;
  align-items: center;
}

.login-links .linklink {
  padding: 8px;
  width: 40px;
}

.linklink:hover {
  transform: translateY(-5px);
  background-color: #2d271f;
}

.linklink {
  padding: 0 30px;
  color: white;

  transition: transform 0.5s ease-in, background-color 0.5s ease-in;
}

.linklinks:hover {
  transform: translateY(-5px);
}

.linklinks {
  width: 90px;
  transition: transform 0.5s ease-in;
  text-align: right;
}

.signup {
  text-align: left;
}

.login-link {
  color: white;
  text-decoration: none;
}

#line-divide {
  color: white;
}

.login-link:hover {
  text-decoration: none;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 0px 30px;
}

.dropbtn {
  color: white;
}

.dropbtn:hover {
  text-decoration: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 0.2s ease-out;
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: black;
  text-decoration: none;
  opacity: 0.5;
}
/* .box-shadow:after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 4px;
  z-index: -1;
  transform: scale(2.2);
  box-shadow: 0px 0px 5px 3px #000000;
} */

.burger {
  position: absolute;
  top: 20px;
  right: 50px;
  z-index: 102;
  display: none;
}

.burger:hover {
  cursor: pointer;
}

.burger-part {
  width: 36px;
  height: 4px;
  margin-top: 8px;
  border-radius: 15px;
  background: black;
  transition: 0.3s ease;
}

.burger-opened {
  transform: 0.4s ease;
  z-index: 101;
}

.burger-opened .burger-part {
  background: white;
}

.burger-part:first-of-type {
  margin-top: 0;
}

.burger-opened .burger-part:first-of-type {
  transform: translateY(12px) rotate(45deg);
}

.burger-opened .burger-part:nth-child(2) {
  display: none;
}

.burger-opened .burger-part:nth-child(3) {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 1025px) {
  .title-name {
    font-size: 35px;
  }

  .login {
    display: block;
    position: absolute;
    right: 60px;
  }
  .signup {
    display: none;
  }
  #line-divide {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .login-container {
    display: none;
  }
  .title-name {
    margin: auto;
  }

  .nav-links {
    display: none;
  }

  .nav-section {
    width: 100%;
    padding: 0px 30px;
    transition: ease-in 1s;
  }

  .burger-toggle {
    display: block;
  }

  .burger {
    display: block;
  }

  .vanil-nav {
    position: sticky;
    background-color: #2d271f;
  }
}

@media only screen and (max-width: 400px) {
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
  }
  .title-name {
    font-size: 33px;
    margin: auto;
  }
}
