.vanil-nav{
  position: sticky;
  top: 0;
}

.title-name {
  margin-left: 10px;
  color: white;
}

.nav-wrapper {
  display: flex;
  border: 1px solid black;
  justify-content: space-around;
  background-color: #00a86b;
  padding: 10px 0;
}

.nav-section {
  border: 1px solid yellow;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  list-style: none;
  border: 1px solid red;
  display: flex;
  margin: 0;
  padding: 0px 10px;
  align-items: center;
  font-size: 12px;
}

link:hover {
  text-decoration: none;
}
/* .linklink:hover {
  text-decoration: none;
  color: white;
  text-underline-position: above;
  text-decoration-style: none;
} */

.login-container {
  border: 1px solid black;
  display: flex;
  font-size: 12px;
}

#word-primavera {
  color: #ffdd00;
}

.login-links {
  list-style: none;
  display: flex;
  margin: 0;
  align-items: center;
  padding: 0;
}

.login-links .linklink {
  padding: 8px;
}

.linklink {
  padding: 0 30px;
  color: white;
  border-radius: 45%;

  transition: background 0.5s ease;
}

.linklink:hover {
  background-color: white;
  color: #00a86b;
}
.linklinks {
  width: 80px;
}

.linklinks:hover {
  transform: scale(1.1, 1.1);
  color: #ffdd00;
  transition-duration: 0.7s;
}

.login-links {
  color: white;
  text-decoration: none;
}

#line-divide {
  color: white;
}

.login-links:hover {
  text-decoration: none;
  color: #ffdd00;
}

.vanil-nav {
  border: 1px solid green;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: white;
}

.dropbtn:hover {
  color: white;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #00a86b;
  text-decoration: none;
  opacity: 0.5;
}
