.home-landing {
  background-image: url("../../images/home-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  border: 1px solid black;
}

.landing-wrapper {
  border: 1px solid blue;
  height: 100%;
  padding: 0px 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-main-text {
  /* border: 1px solid black; */
  width: 500px;
  text-align: center;
}

.landing-header {
  font-size: 65px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 7px #000000;
}

.info {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

#learn-btn {
  background-color: #00a86b;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 7px;
}

#learn-btn:hover {
  text-decoration: none;
}

.icons-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}

.roll-image {
  width: auto;
  height: 120px;
}

.enrolled {
  height: 80px;
}

.nna {
  height: 100px;
}

.get-started {
  font-weight: 500;
}
