.infoHeader {
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  height: auto;
  background-color: white;
  color: black;
}

.infoContact{
  font-size: 15px;
}

.info-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.website-links {
  display: flex;
}

li {
  padding: 0 10px;
}

li a {
  text-align: center;
}

.site-links {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}

.fab {
  padding: 7px;
  font-size: 15px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 6px 2px;
  border-radius: 15%;
  display: flex;
  justify-content: center;
}

.fab:hover {
  opacity: 0.7;
}

.fa-facebook-f {
  background-color: #3b5998;
  color: white;
}

.fa-yelp {
  color: white;
  background-color: #af0606;
}

.fa-linkedin-in {
  background-color: #007bb5;
  color: white;
}
