.covid-header {
  display: flex;
  font-size: 16px;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  transition: visibility 0.5s, position 0.5s ease-in;
}

.animation-class {
  display: none;
}

.covid-header p {
  margin-bottom: auto;
}

.covid-header span {
  font-weight: 700;
}
@keyframes fadeOut {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
