html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: sans-serif;
}

.burger-toggle input:checked ~ .sidebar-wrapper {
  display: block;
}

@media only screen and (max-width: 1025px) {
  .infoContact {
    font-size: 14px;
  }

  .website-links {
    display: none;
  }

  .info-links {
    width: 100%;
  }

  .list {
    justify-content: space-around;
    width: 100%;
    height: 40px;
  }

  .title-name {
    font-size: 35px;
  }

  .login-container {
    display: none;
  }

  .infoHeader {
    padding: 8px 0px;
  }

  .info-x,
  #info-checkbox {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  html {
    width: 100%;
  }

  .title-name {
    margin: auto;
  }

  .nav-links {
    display: none;
  }

  .roll-image {
    padding: 10px 30px;
  }

  .nav-section {
    width: 100%;
    padding: 0px 30px;
    transition: ease-in 1s;
  }

  .burger-toggle {
    display: block;
  }

  .sidebar-wrapper{
    display: block;
  }
}

@media only screen and (max-width: 400px) {
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
  }
  .title-name {
    font-size: 33px;
    margin: auto;
  }
}
