.footer-main {
  height: 10vh;
  background-image: linear-gradient(
    171.8deg,
    rgba(5, 111, 146, 1) 13.5%,
    rgba(6, 57, 84, 1) 78.6%
  );
  position: sticky;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  font-size: 14px;
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-footer a {
  margin: 5px;
  color: white;
}

.contact-footer a:hover {
  text-decoration: none;
  opacity: 0.8;
}
